.header {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--gray700);

    height: 12.5rem;
    width: 100%;
}

.inputButton {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -1.8rem;

    gap: 8px;

    input {
        width: 638px;
        height: 54px;
        color: var(--gray100);

        background: var(--gray500);

        border: 1px solid #0D0D0D;
        border-radius: 8px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px;
        gap: 8px;
    }

    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px;
        gap: 8px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 140%;

        width: 90px;
        height: 52px;

        background: #1E6F9F;
        border-radius: 8px;
        color: var(--gray100);

        cursor: pointer;
    }
}

.spans {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 736px;
    height: 287px;
    left: calc(50% - 736px/2);
    top: 291px;

    .span-created{
        display: flex;
        gap: 8px;

        span:nth-child(1){
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;

            color: var(--blue);
        }
        span:nth-child(2){
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 2px 8px;
            gap: 10px;

            width: 25px;
            height: 19px;

            background: var(--gray400);
            border-radius: 999px;

            color: var(--gray100);
        }
    }
    
    .span-finished{
        display: flex;
        gap: 8px;

        span:nth-child(1){
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;

            color: var(--purple);
        }
        span:nth-child(2){
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 2px 8px;
            gap: 10px;

            width: 80px;
            height: 19px;

            background: var(--gray400);
            border-radius: 999px;

            color: var(--gray100);
        }
    }
}

.tasks{
    .falseContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-top: 4rem;

        border-radius: 8px;

        border-top: 1px solid var(--gray400);
        width: 736px;
    }

    .clipboard{
        width: 56px;
        height: 56px;
    }

    position: absolute;
    width: 736px;
    left: calc(50% - 736px/2);
    top: 341px;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2{
        color:var(--gray300);
        margin-top: 1rem;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
    }

    h3{
        color:var(--gray300);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
    }

    .task{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        gap: 12px;

        width: 736px;
        height: 72px;

        color: var(--gray100);

        background: #262626;

        border: 1px solid #333333;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
        border-radius: 8px;

        a img:hover {
            background: var(--danger);
        }

        p{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
        }

        & .completed {
            p {
                text-decoration:line-through;
                text-decoration-color: var(--gray100);    
                opacity: 0.6;
              }
        }

        .checkbox{
            width: 0.9rem;
        }

        .inputAndText{
            display: flex;
            gap:1rem
        }

    }
    
    .task + .task{
        margin-top: 1rem;
    }

    
}